.event{
    background-color: #6c757d;
    letter-spacing: 00.5em;
    height: 100%;
    color: rgb(247, 179, 57);
    text-align: center;
    padding: 1%;
    position: static;
}

.event p{
    color: white;
    letter-spacing: 0;
}

.eventDiv {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #555659;
    line-height: 22px;
    box-sizing: border-box;
    background: #cfdbd5;
    overflow: hidden;
    border-radius: 3%;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    font-size: 18px;
    padding: 2%;
    margin-top: 5%;
}

.eventDiv div {
    padding: 2%;
}

img {
    max-width: 800px ;
    max-height: 500px;
}